node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/arch/pkg/
/arch/src/
/arch/*.pkg.tar.zst
/arch/*.pkg.tar.zst.sig

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
